:host {


  .slides-container {
    overflow: hidden;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .page-buttons {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 16px;
    margin-inline: auto;
    width: fit-content;
  }
}
