@import "src/app/style/colors";

:host {
  display: flex;
  flex-direction: row;

  background-color: @DarkGray;

  width: auto;
  justify-content: space-around;

  padding: 0 400px;

  .link {
    background-color: @LightGray;
    height: 32px;
    width: 150px;
    text-align: center;
  }
}

