<app-header>
  Home
</app-header>
<app-slide-show>
  <app-slide>
    <app-parallax-scroll-section [data]="personData">
      <h1>PersonData!</h1>
      Ich bin Morten Diestelhorst, ein Softwareentwickler mit Fokus auf Embedded C++ sowie Weblösungen für Embedded-Anwendungen. Meine Erfahrung reicht von der Entwicklung hardwarenaher Software bis zur Erstellung moderner Benutzeroberflächen für eingebettete Systeme.
    </app-parallax-scroll-section>
  </app-slide>

  <app-slide>
    <app-parallax-scroll-section [data]="solutionData">
      <h1>SolutionData!</h1>
    </app-parallax-scroll-section>
  </app-slide>
</app-slide-show>

<app-parallax-scroll-section [data]="standardData">

  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
  <h1>Data With Shitload of Content!</h1>
</app-parallax-scroll-section>
<app-parallax-scroll-section [data]="solutionData">
  <h1>SolutionData!</h1>
</app-parallax-scroll-section>
