@import "src/app/style/colors";

:host {
  display: block;
  height: 100%;
  width: 100%;

  font-size: 1.3rem;
  line-height: 2rem;

  text-align: left;
  color: @DarkGray;

  .person-data {

    .person-data-content {
      width: 35%;
      margin-left: auto;
      padding-top: 18vh;

      .name {
        font-size: 5rem;
        line-height: 7.5rem;
        font-weight: 500;
        margin-bottom: 32px;
      }
    }
  }

  .techstack {
    .techstack-container {
      background-color: @RegularGray;
      height: 180px;
    }
  }


  .standard-data {

    .standard-data-content {
      min-width: 50%;
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
      padding-top: 18vh;

      .standard-data-text {
      }
    }
  }
}
