/* You can add global styles to this file, and also import other style files */
@import "app/style/colors";
@import "app/style/fonts";

html {
  margin: 0;
  padding: 0;
  height: 100%; /* Volle Höhe des Viewports */
  width: 100%;  /* Volle Breite des Viewports */
}

body {
  margin: 0;
  padding: 0;
  height: 100%; /* Volle Höhe des Viewports */
  width: 100%;  /* Volle Breite des Viewports */

  background-color: @LightGray;;
  color: @DarkGray;
  font-family: 'Lato', sans-serif;
}

app-root {
  display: block; /* Stellt sicher, dass app-root wie ein Block-Element funktioniert */
  height: 100%;   /* Füllt den gesamten verfügbaren Platz */
  width: 100%;    /* Deckt die gesamte Breite ab */
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900; /* lato-Black */
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700; /* lato-Bold */
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300; /* lato-Light */
}

em {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-style: italic; /* lato-Italic */
}
